<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <hr>
    <a href="/">Go Back Home</a>
    <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A blanditiis praesentium doloremque amet ut error corporis impedit voluptatibus accusantium odio inventore eveniet, iure obcaecati dolorum nam autem. Eveniet, quis veniam?</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestiae temporibus perspiciatis, ex sint iure veniam, et, porro consectetur corrupti distinctio consequatur sed nemo rerum cum. Id labore exercitationem possimus.</p>
    <hr>
    <br><br>
</body>
</html>